.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-family);
    min-width: 100px;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    // wrapper đứng ngay sau wrapper (2 nút kế nhau)
    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// button type
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    border-color: var(--primary);
    color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    border-color: rgba(22, 24, 35, 0.12);
    font-weight: 600;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//button size

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

//Icon bên trái + title bên phải: margin-left cho title
// title bên trái + Icon bên phải: margin-left cho icon

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    font-size: 16px;
    display: inline-block;
    width: 24px;
    text-align: center;
}
